<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tds.mapper.CarMapper">

    <select id="selectCarNumber" resultType="tds.vo.ApproveCarVo">
        SELECT approve_car_id,approve_car_number,state FROM springproject.approvecar  WHERE state='1'
    </select>

    <select id="getApproveCarId" resultType="String">
        SELECT approve_car_id FROM springproject.approvecar WHERE approve_car_number=#{approveCarNumber}
    </select>

    <select id="approveCarList" resultType="tds.vo.ApproveCarVo">
        SELECT approve_car_id,approve_car_number FROM springproject.approvecar WHERE state='1'
    </select>

    <select id="getCarList" resultType="tds.vo.CarVo">
        SELECT car_number,car_id,type,car_name,fuel_type FROM springproject.car WHERE company_number=#{companyNumber}
    </select>

    <insert id="carRegistration">
            INSERT INTO springproject.car VALUES(#{companyNumber},#{carNumber},#{carId},#{type},#{carName},#{fuelType})
    </insert>

    <update id="stateUpdate">
        UPDATE springproject.approvecar SET state='0' WHERE approve_car_id=#{carId}
    </update>


</mapper>