<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tds.mapper.LocationMapper">

    <insert id="locationData">
        INSERT INTO springproject.location(company_number,coordinate,car_number,date) VALUES(#{companyNumber},#{coordinate},#{carNumber},#{date})
    </insert>


</mapper>