<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:replace="header.html :: header"></div>
<!-- 홈 가기 -->
<div class=" col-md-12 text-center py-5" style="background: #FFFFCC;">
    <a href="/"><h1>Transportation Data System</h1></a>
</div>
<div class="container py-5">
        <div class="col-md-12">
                <div class="offset-4 col-md-4 py-3">
                            <div class="py-5">
                                    <!--아이디 입력 란  -->
                                    <div class="text-left">아이디</div>
                                    <div>
                                            <input type="text" name="memberId" id="memberId" class="form-control" placeholder="가입하신 아이디를 입력해주세요.">
                                    </div>
                                    <!-- 이름 입력 란 -->
                                    <div class="text-left">이름</div>
                                    <div>
                                            <input type="text" name="memberName" id="memberName" class="form-control" placeholder="가입하신 이름을 입력해주세요.">
                                    </div>
                                    <!-- 입력란 체크  안내 -->
                                     <span id="passwordCheck" class="checktrue"></span>
                                    <span id="passwordCheck2" class="checkfalse"></span>

                                    <!-- 인증번호 입련 란 -->
                                    <div class="text-left">인증번호</div>
                                    <div>
                                        <input type="text" name="authenticationNumber" id="authenticationNumber" class="form-control">
                                    </div>
                            </div>
                            <!--비밀번호 찾기 버튼  -->
                            <div>
                                <button class="form-control" type="button" onclick="findPassword()">비밀번호 찾기</button>
                            </div>
                            <!--뒤로가기 버튼 -->
                            <div class="py-3">
                                <a href="/page/member/login"><button type="button" class="form-control">뒤로가기</button></a>
                            </div>

                </div>
        </div>
</div>
<script type="text/javascript" src="/js/member/findpassword.js"></script>
</body>
</html>