<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>

<div th:replace="header.html :: header"></div>
<!-- 홈 가기 -->
<div class=" col-md-12 text-center py-5" style="background: #FFFFCC;">
    <a href="/"><h1>Transportation Data System</h1></a>
</div>

<div class="container py-5">
     <div class="col-md-12 py-3">
            <div class="offset-4 col-md-4 py-3">

                <div class="py-2">
                    비밀번호 변경
                    <input type="password" class="form-control" id="password" placeholder="변경할 비밀번호를 입력해주세요.">
                </div>
                <span id="pwdcheck"></span>
                <span id="pwdcheck2" class="check"></span>
                <div class="py-2">
                    비밀번호 확인
                    <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" placeholder="변경할 비밀번호를 다시 한번 입력해주세요.">
                </div>
                <span id="pwdcheck3"></span>
                <span id="pwdcheck4" class="check"></span>

                <div class="py-5">
                    <button class="form-control py-3" onclick="passwordUpdate()" type="button">변경하기</button>
                    <span id="passwordUpdateCheck" class="checkfalse"></span>
                </div>

            </div>
     </div>
</div>
<script src="/js/member/findpasswordsuccess.js"></script>
</body>
</html>