<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:replace="header.html :: header"></div>
<div class=" col-md-12 text-center py-5" style="background: #FFFFCC;">
    <a href="/"><h1>Transportation Data System</h1></a>
</div>
<div class="container">
  <div class="col-md-12">
    <div class="container">
      <!--  꾸미기 추가 요망 -->
      <div class="col-md-12 text-center py-3">
                <div class="py-5">
                    <h1>아이디 정보</h1>
                        <div class="offset-4 col-md-4 py-2">
                                <div class="py-3">
                                      <div class="py-5">
                                        <H3>어서오세요 님!! </H3>
                                      </div>
                                  회원님이 가입하신 아이디는  입니다.
                                </div>
                                <div class="py-5">
                                  <a href="/"><button class="form-control">확인</button></a>
                                </div>
                        </div>
                </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>