<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:replace="header.html :: header"></div>

<div class=" col-md-12 text-center py-5" style="background: #FFFFCC;">
    <a href="/"><h1>Transportation Data System</h1></a>
</div>
<div class="container" style="padding-top: 100px; margin-left: 340px;">

    <div class="col-md-12 text-center">
        <form method="post" action="/member/loginController">

            <div class="offset-4 col-md-3 py-2 ">
                <input class="form-control" type="text" id="companyNumber" name="companyNumber"  placeholder="회사등록번호">
            </div>

            <div class="offset-4 col-md-3 py-2 ">
                <input class="form-control" type="text" id="memberId" name="memberId"  placeholder="아이디">
            </div>

            <div class="offset-4 col-md-3 py-2">
                <input class="form-control" type="password" id="password" name="password"  placeholder="비밀번호">
            </div>


            <div class="offset-4 col-md-3 py-2">
                <input class="form-control" type="button" onclick="loginCheck()"  value="로그인">
            </div>
        </form>

        <div class="offset-4 col-md-3 py-2">
            <a href="/page/member/agreement"><button class="form-control">회원가입</button></a>
        </div>

        <div class="offset-4 col-md-3 py-2">
            <a href="#"><button class="form-control">아이디찾기</button></a>
        </div>

        <div class="offset-4 col-md-3 py-2">
            <a href="#"><button class="form-control">비밀번호 찾기</button></a>
        </div>
    </div>

</div>
<script type="text/javascript" src="/js/member/login.js"></script>
</body>
</html>